.answered-view-wrap{
  margin-top: 32px;
  width: 100%;
  min-height: 496px;
  background-color: var(--wgray03);
  border: 1px solid var(--wgray04);
  border-radius: 8px;
}
.answered-list-item-header-wrap{
  margin-top: 24px;
  margin-left: 16px;
  display: flex;
  width: fit-content;
  gap: 4px;
}
.answered-list-item-q{
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 24px;
}
.answered-view-item-a{
  height: fit-content;
    margin-left: 16px;
  margin-right: 24px;
  margin-bottom: 16px;
}