.main-content-area{
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.main-card-area{
  display: grid;
  width: 100%;
  grid-template-columns: 47.5% 47.5%;
  grid-row: auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  perspective: 1000px;
}

/* card */
.card {
  box-sizing: border-box;
  width: 180px;
  height: 202px;
  transform-style: preserve-3d;
  position: relative;
  user-select: none;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--wgray04);
  background-color: #ffffff;
} 

.card-front {
  position: absolute;
  padding: 8px;
}

.card-in {
  width: 148px;
  display: flex;
  justify-content: center;
  background-color: #F8F3ED;
  padding: 8px;
}

/* scaling */
/* .scaling-enter {
  opacity: 0;
}
.scaling-enter-active{
  transition: opacity 300ms;
}
.scaling-exit {
  opacity: 1;
  transition: opacity 300ms;
}
.scaling-exit-active {
  opacity: 1;
  transition: opacity 300ms;
} */
.card-scale {
  background-color: #F8F3ED;
}
.card-scale:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

@keyframes cardFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.card-fade {
  animation-name: cardFade;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate-reverse;
  transition:0.5s ease-in-out;
  scale: 1.1;
}

/* 카드 각각의 개체 설정 - 공통 */
/* .inner-card, .outer-card {
  box-sizing: border-box;
  width: 184px;
  height: 148px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
}

.card-back {
  background-color: #ffad66;
  transition: all 0.3s ease-in-out;
} */

/* visability */
.card-back {
  /* -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
  display: none;
  position: absolute;
}
/*
.img-area{
  position: relative;
  width: 168px;
  height: 156px;
  display: flex;
  justify-content: center;
}

.img-area img{
  display: block;
  margin: auto;
  transition: all 0.3s ease-in-out;

}
.img-area img:hover{
  transition: all 0.3s ease-in-out;
  scale: 1.1;
}
 */
.card-title{
  position: relative;
  font-family: 'Prompt';
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--wgray09);
  text-align: center;
  padding: 13px 0 13px 0;
}
