.notfound-image {
  width: 100%;
  height: 114px;
  margin-top: 73px;
  background-image: url("../../images/error-page.svg");
  background-repeat: no-repeat;
  background-size: 94px 114px;
  background-position: 50%;
}

.notfound-title {
  color: var(--wgray13);
}
.notfound-subtitle {
  color: var(--wgray10);
}
