.alert-bg {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.relative {
  position: relative;
  width: 100%;
  max-width: 372px;
  height: 100%;
  margin: 0 auto;
}
button{
  outline: none;
}
button:hover {
  cursor: pointer;
}
.padding-x-24{
  padding: 0 24px;
}
.modal, .confirm-modal {
  width: 100%;
  max-width: 324px;
  border-radius: 16px;
  padding: 40px 24px;
  background-color: #FFFFFF;
  position: absolute;
  top: 30%;
}
.modal-text-area > p{
  text-align: center;
}
.modal-text-area > p:last-of-type {
  padding-bottom: 32px;
}

.modal-btn-area > button{
  background-color: #3D3938;
  color: white;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.025em;
}
.modal-btn-area > button:hover {
  cursor: pointer;
}
.d-none {
  display: none;
}
/* confirm  */
.confirm-btn-area{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.btns-isflex {
  flex-direction: row;
  justify-content: space-between;
}
.confirm-btn-area > button{
  width: 100%;
  height: 44px;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.025em;
}
.modal-btn-confirm-cancel{
  background-color: #FFFFFF;
  color: #3D3938;
  border: 1px solid #3D3938;
}
.modal-btn-confirm {
  background-color: #3D3938;
  color: #FFFFFF;
}