.footer-area{
  width: 402px;
  margin-left: -16px;
  padding-left: 16px;
  background-color: var(--wgray03);
  position: absolute;
  bottom: 0;
  margin-top: 160px;
  font-weight: 100;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-40 {
  margin-bottom: 40px;
}
.footer-service-area{
  display: flex;
  gap: 12px;
}
.footer-title {
  margin-top: 40px;
  margin-bottom: 16.53px;
}