.footer-area{
  width: 100%;
  background-color: var(--wgray03);
  padding-top: 40px;
}
.inside-footer-area{
  margin: 0 16px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-40 {
  padding-bottom: 40px;
}
.footer-service-area{
  display: flex;
  gap: 12px;
}
.footer-title {
  margin-bottom: 16.53px;
}