/** 헤더 공통 **/
.header {
  width: 100%;
  height: 60px;
  display: flex;
  font-weight: bold;
  color: #121212;
  border-bottom: 1px solid #E9E7E2;
}
/** default header **/
.default-header-textarea{
  width: 100%;
  padding: 19px 0 0 0 ;
}
.default-header-text {
  font-size: 22.4px;
  font-weight: 700;
  font-style: bold;
}

/** arrow custom header **/
.login-header {

  font-size: 18px;
  justify-content: center;
  vertical-align: middle;
  line-height: 60px;
  border-bottom: 1px solid #E9E7E2;
}
.go-back-iconimg{
  width: 20px;
  height: 100%;
}
.go-back-iconimg:hover{
  cursor: pointer;
}
.header-text{
  flex: 1;
}
.header-text > p {
  width: fit-content;
  padding: 17px auto 17px 162px;
  margin: 0 auto;
}


