.navbar-area{
  width: 100%;
  max-width: 430px;
  height: 64px;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index:2;
  height: 64px;
  vertical-align: middle;
  background-color: var(--wgray02);
  border-top: 1px solid var(--wgray04);
}
.navbar-item {
  flex: 1;
  text-align: center;
  padding: 8px 0;
}
.navbar-item:hover {
  cursor: pointer;
}
