/* wrap */
.answered-list-wrap{
  position: absolute;
  width: 420px;
  padding-bottom: 420px;
}
/* divider */
.answered-list-divider{
  background-color: var(--wgray04) ;
  margin-top: 32px;
  margin-left: -16px;
  margin-bottom: 12px;
  width: 100%;
  height: 8px;
}
.answered-list-item-count-wrap {
  margin-bottom: 12px;
}
.answered-list-count-text{
  color: #6E8DBA;
}
/* lists-wrap */

.answered-list-item {
  background-color: var(--wgray01);
  border: 1px solid var(--wgray04);
  max-height: 270px;
  overflow: hidden;
  width: 388px;
  border-radius: 8px;
  margin-bottom: 16px;
  
}
.answered-list-item:hover {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.08));
  cursor: pointer;
}


/* content */
.answered-list-item-header-wrap{
  margin-top: 24px;
  margin-left: 16px;
  display: flex;
  width: fit-content;
}
.answered-list-item-date {
  padding: 4px 8px;
  background-color: var(--wgray02);
  color: var(--wgray12);
}
.answered-list-item-q {
  min-height: 26px;
  max-height: 104px;
  margin: 8px 16px;
}
.answered-list-item-a {
  width: 340px;
  min-height: 24px;
  max-height: 96px;
  margin: 8px 16px 24px 16px;
  display: -webkit-box;
 white-space: nowrap;
 word-break: break-all;
 overflow: hidden; 
 text-overflow: ellipsis;
 white-space: normal;
 -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}