/* 메인폰트 - Nanum */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Prompt 폰트 */
@font-face {
  font-family: 'Prompt';
  src: url('./Prompt-Bold.ttf') format('woff'),
  url('./Prompt-Regular.ttf') format('woff'),
  url('./Prompt-SemiBold.ttf') format('woff');
  unicode-range: U+0041-005A, U+0061-007A;
}

.f-n { font-family: 'NanumSquareNeo-Variable'; }
.f-p { font-family: 'Prompt'; }
*{ font-family: 'Prompt', 'NanumSquareNeo-Variable', sans-serif; }