.categorylist-wrap{
  width: 100%;
  height: 100vh;
  max-width: 480px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.categorylist-top{
  width: 100%;
  max-width: 480px;
  position: absolute;
  margin-left: -16px;
  background-color: var(--wgray03);
}
.welcome-logout{
  max-width: 408px;
  margin-top: 48px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.logout-btn {
  text-align: center;
  margin-top: 34px;
  width: 64px;
  height: 28px;
  padding: 6px 8px;
  background: var(--wgray12);
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 12px;
  outline: none;
  border: none;
}
.logout-btn:hover{
  cursor: pointer;
}

/* 카테고리목록 */
.myinfo-category-area{
  width: 100%;
  flex: 1;
  max-width: 480px;
  position: absolute;
  top: 144px;
  margin-left: -16px;
  background-color: #FFFFFF;
}

.myinfo-email-area{
  margin-top: 12px;
  height: 16px;
}

.myinfo-email-area > p {
  color: #96938C;
  font-style: normal;
  font-size: 12px;
  letter-spacing: -0.025em;
}

.myinfo-category-btn{
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color:var(--wgray01);
  border: none;
  outline: none;
  border-bottom: 1px solid #E9E7E2;
  padding: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
}
.myinfo-category-btn:hover{
  cursor: pointer;
}
.myinfo-category-btn:nth-of-type(1) {
  border-top: 1px solid #E9E7E2;
}
.myinfo-category-btn span {
  align-items: center;
  letter-spacing: -0.025em;
  color: #3D3938;
  font-size: 14px;
  line-height: 64px;
  font-weight: 700;
}
.right-arrow-img{
  display: block;
  margin-top: 20px;
}
