.category-other-bg-color{
  width: 100%;
  margin-left: 16px;
  background-color: var(--wgray03);
  padding-bottom: 32px;
}
/** 헤더 **/
.custom-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  font-weight: bold;
  color: #121212;
  border-bottom: 1px solid #E9E7E2;
  margin-left: -16px;
}
/** arrow custom header **/
.custom-login-header {
  font-size: 18px;
  justify-content: center;
  vertical-align: middle;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #E9E7E2;
}
/* 로고 */
.custom-header-logo-area{
  flex: 1;
  padding-left: 16px;
}
.custom-header-logo-area img {
  margin-top: 18px;
}
.bg-F2F1ED{
  background-color: #F2F1ED;
}
.categorylist-top{
  width: 100%;
  position: absolute;
  top: 0;
  left: -16px;
  margin-bottom: 32px;
}
.right-arrow-area{
  height: 100%;
}
.right-arrow-img{
  margin-top: 18px;
}
.welcome-logout{
  width: 388px;
  height: 64px;
  margin-top: 48px;
  margin-left: 16px;
  display: flex;
}

.welcome-text{
  font-weight: 800;
  line-height: 32px;
  flex: 1;
}

.logout-area {
  box-sizing: border-box;
  width: fit-content;
  height: 100%;
  vertical-align: bottom;
}

.logout-btn {
  text-align: center;
  margin-top: 34px;
  width: 64px;
  height: 28px;
  padding: 6px 8px;
  background: var(--wgray12);
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 12px;
  outline: none;
  border: none;
}
.logout-btn:hover{
  cursor: pointer;
}

.myinfo-category-area{
  flex: 1;
  background-color: #FFFFFF;
  position: absolute;
  top: 204px;
  width: 100%;
  margin-left: -16px;
  padding-right: 16px;
}

.myinfo-email-area{
  margin-top: 12px;
  padding-left: 16px;
  height: 16px;
}

.myinfo-email-area > p {
  color: #96938C;
  font-style: normal;
  font-size: 12px;
  letter-spacing: -0.025em;
}

.myinfo-category-btn{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color:var(--wgray02);
  border: none;
  outline: none;
  border-bottom: 1px solid #E9E7E2;
  padding: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
}
.myinfo-category-btn:hover{
  cursor: pointer;
}

.myinfo-category-btn span {
  align-items: center;
  letter-spacing: -0.025em;
  color: #3D3938;
  font-size: 14px;
  line-height: 60px;
  font-weight: 700;
}
